include settings.ini
include LICENSE
include CONTRIBUTING.md
include README.md
recursive-exclude * __pycache__

# Explicitly include the pages directory and its content
recursive-include onprem/app/pages *.py
